@import url('https://fonts.googleapis.com/css2?family=Share+Tech+Mono&family=Ysabeau+SC:wght@300&display=swap');

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: antiquewhite;
  text-align: center;
  font-family: 'Share Tech Mono', sans-serif;
}

.auth {
  position: absolute;
  top: 30%;
  background-color: rgb(188, 224, 255);
  padding: 20px;
  border-radius: 1.5rem;
  box-shadow: 5px 7px 5px black;
  text-align: center;
  font-size: 20px;
  font-family: 'Share Tech Mono', monospace;
}

input[type='email'],
input[type='password'] {
  font-size: 1.3rem;
  padding: 0.3rem;
  border-radius: 1.5rem;
  font-family: 'Ysabeau SC', sans-serif;
}

input[type='submit'] {
  padding: 0.4rem;
  border-radius: 1.5rem;
  font-size: 1.4rem;
  font-family: 'Ysabeau SC', sans-serif;
}

a {
  font-size: 1.7rem;
  color: black;
}

.content {
  display: none;
  justify-self: center;
}

.content h1 {
  font-size: 3rem;
  font-family: 'Share Tech Mono', sans-serif;
}

#SignOut,
#verify,
#fileSubmit, #deletionbtn {
  font-size: 1.5rem;
  border-radius: 1.2rem;
  padding: 10px;
  margin: 20px;
  font-family: 'Ysabeau SC', sans-serif;
}

.alert {
  background-color: lightgreen;
  padding: 20px;
  border-radius: 10px;
  margin-top: 9%;
  font-family: 'Share Tech Mono', sans-serif;
  transform: translateY(+200%);
  transition: 1s linear;
  filter: blur(5px);
  box-shadow: 5px 7px 5px black;
}

.alert.animate {
  filter: blur(0);
  transform: translateY(0);
}

#contentAlertHTML {
  background-color: lightgreen;
  padding: 20px;
  border-radius: 15px;
  text-align: center;
  color: black;
  position: relative;
  transition: 0.5s linear;
  filter: blur(5px);
  transform: translateX(-300%);
  display: none;
}

#contentAlertHTML.animate {
  filter: blur(0);
  transform: translateX(0);
}

#fileUploader {
  display: none;
}

#fileLabel {
  font-size: 1.5rem;
  margin: 20px;
  text-decoration: underline;
  justify-self: center;
}

.content img {
  border-radius: 50%;
  width: 150px;
  height: 150px;
  justify-self: center;
  transition: 0.8s linear;
}

.content h2 {
  font-size: 1.9rem;
}

